#login {
  width: 100%;
  height: 100%;
}

#login .wrapper {
  width: 100%;
  height: 100%;
}

#login .wrapper .content {
  width: 100%;
  height: 53.819vw;
  position: relative;
}

#login .wrapper .content img {
  width: 100%;
  height: 100%;
}

#login .wrapper .content .form {
  position: absolute;
  top: 3.125vw;
  right: 14.583vw;
  width: 35.347vw;
  height: 37.764vw;
  background-color: #fff;
  padding: 2.917vw 3.472vw 4.722vw 3.472vw;
  border-radius: 10px;
}

#login .wrapper .content .form > p {
  font-size: 2.222vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.972vw;
}

#login .wrapper .content .form .signup {
  display: flex;
  justify-content: space-between;
  height: 1.319vw;
  width: 16.667vw;
  margin-bottom: 1.667vw;
}

#login .wrapper .content .form .signup p {
  color: #7a7a7a;
  font-size: 1.111vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#login .wrapper .content .form .signup a {
  color: #00575c;
  font-size: 1.111vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#login .wrapper .content .form .signup:hover a {
  color: #3e8286;
}

#login .wrapper .content .form .account {
  width: 100%;
  height: 3.194vw;
  margin-bottom: 1.667vw;
  border-radius: 6.944vw;
  border: 0.035vw solid #7a7a7a;
  padding-left: 1.736vw;
}

#login .wrapper .content .form .process-password {
  position: relative;
}

#login .wrapper .content .form .process-password .password {
  width: 100%;
  height: 3.194vw;
  margin-bottom: 1.667vw;
  border-radius: 6.944vw;
  border: 0.035vw solid #7a7a7a;
  padding-left: 1.736vw;
}

#login .wrapper .content .form .process-password .eye {
  position: absolute;
  top: 16px;
  right: 20px;
}

#login .wrapper .content .form .submit {
  width: 100%;
  height: 3.194vw;
  border-radius: 6.944vw;
  background-color: #00575c;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.111vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.111vw;
}

#login .wrapper .content .form .submit:hover {
  background-color: #3e8286;
}

#login .wrapper .content .form .help {
  width: 100%;
  height: 1.111vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.222vw;
}

#login .wrapper .content .form .help a {
  color: #00575c;
  font-size: 0.972vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#login .wrapper .content .form .help:hover a {
  color: #3e8286;
}

#login .wrapper .content .form .connect {
  margin: 0 auto;
  width: 19.444vw;
  height: 6.222vw;
  text-align: center;
}

#login .wrapper .content .form .connect span {
  color: #000;
  font-size: 0.972vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 0.347vw;
}

#login .wrapper .content .form .connect a {
  color: #00575c;
  font-size: 0.972vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 0.347vw;
}

#login .wrapper .content .form .connect:hover a {
  color: #3e8286;
}

#login .wrapper .content .form .back {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login .wrapper .content .form .back span,
#login .wrapper .content .form .back a {
  color: #00575c;
  font-size: 0.972vw;
}

#login .wrapper .content .form .back:hover a {
  color: #3e8286;
}
