#header {
  height: 500px;
  background: center bottom/ cover no-repeat url(../../../assets/img/bg-h.webp);
  padding-top: 20px;
}
.header_menu {
  width: 100%;
  height: 88px;
  background: #71cbe8;
  border-radius: 50px;
  position: relative;
  padding: 5px;
}
.menu-content {
  width: 100%;
  height: 100%;
  border: 1px dashed #fff;
  border-radius: 50px;
  padding: 0 80px;
}
.menu-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menunav{
  color: white !important;
  border-bottom-color: transparent !important; 
}
.menu-wrapper .menunav:hover{
  color: #f9a529 !important; 
  transition: none !important;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after
{
  border: transparent !important;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
}

:where(.css-dev-only-do-not-override-p7e5j5).ant-menu-light.ant-menu-horizontal >.ant-menu-item::after{
  border: transparent !important;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-menu .ant-menu-title-content{
  transition: none !important;
}

.menusubnav:hover {
  color: #f9a529 !important;
  transition: none !important;
}
.subnavdetail:hover {
  color: #f9a529 !important;
  transition: none !important;
}

.header_nav {
  height: 100%;
  width: 404px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-size: 18px;
  color: white;
}
.header_nav .ant-menu-item:hover {
    color: #f9a529; 
}

.header_nav .ant-menu-item-selected {
    color: #f9a529;
}
.logo {
  width: 150px;
  height: 150px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.actions{
    height: 100%;
    width: 362px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.actions button{
    background-color: transparent !important;
    box-shadow: none;
}
.actions>span:hover button span{
  color: #f9a529 !important;
}
.actions button:hover a{
  color: #f9a529;
}
.actions span{
  color: white;
}
.avatar-container{
  position: relative;
  margin-left: 15px;
}
.avatar-container button{
  position: absolute;
  left: 10px;
  bottom: 0;
  transform: translate(0, 70%);
}

